@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.coffee-bg {
    background-image: url("/Background.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}
